#adminmenu #toplevel_page_wp_podro > a img {
	width: 18px;
}

.pod-footer {
	background-color: #883df2;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    max-width: 1202px;
    width: calc(100% - 30px);
	color: #fff;

	.pod-footer-links {
		width: 70%;
		float: left;

		ul {
			width: 100%;

			li {
				display: inline-block;
				margin-inline-end: 15px;
				margin-bottom: 0;

				a {
					color: #fff;
					opacity: .7;
					text-decoration: none !important;
				}
			}
		}
	}

	.pod-footer-social {
		width: 30%;
		float: right;

		.footer__social-icons {
			float: right;
			width: 180px;
			text-align: left;
			direction: ltr;
			flex-direction: row;
			justify-content: space-between;
			display: flex;

			.footer__social-icons__link {
				display: block;

				svg {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}

.pdo-wrapper {
    max-width: 1232px;
    width: 100%;

	.pdo-card {
		max-width: 1232px;
		width: calc(100% - 48px);
		background: #fff;
		background-color: #fff;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
		border-radius: 5px;
		padding: 24px;
		margin-bottom: 20px;
	}
}

.pdo-box {
	width: 390px;
    display: flex;
    align-items: center;
    justify-content: space-between;
	margin-bottom: 12px;

	label {
		display: inline-block;
		height: 22px;
		cursor: pointer;
		font-weight: bold;
	}

	input {
		width: 325px;
		text-align: left;
		direction: ltr;
	}

	.get-api-key {
		display: block;
		width: 100%;
		text-align: right;
		margin-top: 10px;
		text-decoration: none !important;
	}
}

pre.xdebug-var-dump {
    margin-left: 320px;
}


.delivery_options {
    display: flex;
	margin-bottom: 10px;

	.delivery_option {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 16px 12px;
		margin-bottom: 10px;
		border: solid #bcbcbc 1px;
		border-radius: 10px;
		margin-right: 16px;
		width: 136px;

		label {
			text-align: center;
		}

		img {
			max-height: 28px;
		}
	}
}

ul.pod-delivery-step {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 0;

	li {
		display: flex;
		flex-direction: column;
		width: 100%;

		&.pod-dimension {
			background: #efefef;
			padding: 10px;
			width: calc(100% - 20px);
			flex-wrap: wrap;
			flex-direction: row;
			margin-top: 10px;

			p {
				margin-top: 0;
				width: 100%;
			}

			& > div {
				display: flex;
				flex-direction: column;
				width: 33.33%;
			}
		}
	}

}

.pod-delivery-step-button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	cursor: pointer;
	background-color: #883df2;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none !important;
}

.pod-delivery-cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    background-color: #b1b1b1;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none !important;
}

.pod-delivery-step-2-wrapper {
	display: flex;
    flex-direction: column;

	.pod-delivery-step-2-option {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: calc( 100% - 40px);
		align-items: center;
		margin-bottom: 12px;
		border-radius: 12px;
		background-color: #f3f3f3;
		padding: 20px;
		border: solid 1px transparent;
		cursor: pointer;

		input {
			margin-left: 10px;
		}

		&.active {
			border: solid 1px #893df2;
    		box-shadow: 0px 0px 11px -1px #893df24d;

			&:checked::before {
				background-color: #883df2;
			}
		}

		label {
			.pod_delivery_option,
			.pod_pickup_option {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
			}

			img {
				max-width: 50px;
				max-height: 40px;
				margin-left: 4px;
			}

			& > p {
				flex: 1 1 100%;
				margin: 4px 0;
			}
		}
	}
}
.pod-pickup-step-3-option-wrapper,
.pod-delivery-step-3-option-wrapper {
	display: flex;
    flex-wrap: wrap;

	.pod-pickup-step-3-option,
	.pod-delivery-step-3-option {
		padding: 10px;
		margin-inline-end: 10px;
		margin-bottom: 10px;
		box-shadow: 0px 0px 11px -1px #893df24d;
		border-radius: 6px;
		cursor: pointer;

		input {
			display: none;
		}

		&.active {
			border: solid 1px #893df2;
    		box-shadow: 0px 0px 11px -1px #893df24d;
		}
	}
}

.pod-hide {
	display: none;
}

.pod-show {
	display: block;
}

.pod-flex {
	display: flex;
}

.rtl {
	.delivery_options {
		.delivery_option {
			label {
				margin: 0 0 0 16px;
			}
		}
	}
}

select[name="pod_delivery_option_day"] {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

#woocommerce-order-podro {

	.inside {
		padding-top: 12px;
	}

	#loading-circle {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 50px;
		height: 50px;
		border: 8px solid #f3f3f3;
		border-top: 8px solid #893df2;
		border-radius: 50%;
		animation: spin 0.6s ease-in infinite;
	}

	#lock-modal {
		display: none;
		background-color: #06282e9e;
		opacity: 1;
		position: absolute;
		top: -6px;
		left: 0;
		right: 0;
		bottom: 0;
	}

	h3,
	h4 {
		margin-top: 0;
	}

}

input.pod-error,
select.pod-error  {
	border: solid 1px #ff0000;
}

.pod_order_details {
    width: 100%;

	tbody {
		tr {
			td {
				padding: 10px;
				background-color: #efefef;
			}

			th {
				padding: 2px 10px;
				background-color: #caa3ff;
			}
		}
	}
}
